{% extends 'base.html' %}
{% block header %}Edit Data Buku{% endblock %}

{% block content %}
  <p>Pilih Nomor Buku :</p>
  <form method="POST">
    Nama lama = {{ data['nama_warung'] }}<br>
    <input name="nama_warung" placeholder="masukan nama baru"><br><br>
    Menu lama = {{ data['menu'] }}<br>
    <input name="menu" placeholder="masukan menu baru"><br><br>
    Harga lama = {{ data['harga'] }}<br>
    <input name="harga" placeholder="masukan harga baru"><br><br>
    <button type="submit">SUBMIT</button><br><br>
  </form>

  {{ pesan }}<br><br>
  
  <a href="{{ url_for('dashboard') }}">Beranda</a><br>
{% endblock %}