{% extends 'base.html' %}
{% block header %}Selamat Datang di Kantin UPN{% endblock %}

{% block content %}

<table border="1">
    <thead>
      <tr>
        <th>Nomor</th>
        <th>Nama Warung</th>
        <th>Menu</th>
        <th>Harga</th>
        <th>Aksi</th>
      </tr>
    </thead>
        
     <tbody> {% for baris in data %}
     <tr>
       <td>{{ baris[4] }}</td>
       <td>{{ baris[1] }}</td>
       <td>{{ baris[2] }}</td>
       <td>{{ baris[3] }}</td>
       <td><a href="{{ url_for('edit_data', id=baris[0] ) }}">Edit</a> | <a href="{{ url_for('hapus_data', id=baris[0] ) }}">Hapus</a></td>
     </tr>
     {% endfor %} </tbody>
  </table> <br>

    <a href="{{ url_for('tambah_data') }}">Tambah Pesanan</a><br>
    <a href="{{ url_for('keluar') }}">keluar</a><br>
{% endblock %}